<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:contact@nidhalsaidani.com">contact@nidhalsaidani.com</a></li>
	        		<li><a href="https://nidhalsaidani.com">nidhalsaidani.com</a></li>
				<li><a href="https://fb.com/nidhalsaidani">Facebook</a></li>
				<li><a href="https://twitter.com/nidhalsaidani">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
